body {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
}

.intro {
    height: 550px;
}

#design-archives {
    display: none;
}

header {
    background-color: darkgray;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    padding-left: 1em;
    padding-right: 1em;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 1em;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    margin: 4%;
    padding: 1em;
}

footer a {
    border: 2px solid #fff;
    padding: 0.5em;
    text-decoration: none;
    color: #fff;
}