/* Questão 1 */
a{
    color: red;
    font-size: 25px;
}   
a:hover{
    color: lime;
    font-size: 27px;
}
/* Questão 2 */
p{
    font-family: Arial;
}

h1 + p{
    font-weight: bold;
}
/* Questão 3 */
.destaque{
    font-family: Arial;
}

p.destaque{
    font-weight: bold;
}
strong.destaque{
    color: red;
}